@import url('css/base.css');
@import url('css/skeleton.css');

/* Documentation Styles
================================================== */
body {
	background:#f1f1f1;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

[class^="icon-"] {
	color: #111;
	margin-top: 1px;
	margin-right: 3px;
	display:inline-block;
	font-family: 'Pictos Custom';
	-webkit-font-smoothing: antialiased;
	vertical-align: middle;
	font-style: normal;
	font-size: 18px;
	line-height: 20px;
}

[class^="icon-"]:last-child {
	*margin-left: 0;
}

	div.container {
		padding-top: 60px; 
	}	

	/* Doc nav */
	nav {
		position: fixed;
		width: 160px; }
	#logo {
		margin-bottom: 20px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		letter-spacing: -1px;
		font-weight: bold; 
	}
		#logo a {
			text-decoration: none;
		}
	nav ul {
		float: left;  }
	nav ul li {
		display: block;
		margin-bottom: 10px; }
	nav ul li a,
	nav ul li a:visited,
	nav ul li a:active  {
		font-size: 14px;
		color: #555;
		text-decoration: none;
		font-weight: bold; }
	nav ul li a:hover,
	nav ul li a:focus {
		color: #222; 
	}
	
	h1, h2, h3, h4, h5 {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-weight: bold;
	}
		h5 {
			width: 100%;
			float:left;
			margin-bottom: 5px;
		}
		
		i#add_contributor {
			float:right;
			margin-top: 4px !important;
			margin-right: 0px;
		}
		
		i#add_contributor a {
			line-height: 15px;
			padding: 5px 5px 2px;
			border-radius: 3px;
			text-decoration: none;
			color: #fff;
			font-weight: normal;
			font-size: 13px;
			background: #ccc;
		}
			i#add_contributor a:hover {
				background: #aaa;
			}
	header h1 {
		font-size: 52px;
		line-height: 61px;
		letter-spacing: -1px;
		font-weight: normal;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		padding: 10px 20px 0px;
		}
	hr.large {
		border: none;
		height: 8px;
		background: #ebebeb;
		margin: 5px 20px; 
	}
	
	div.doc-section {
		margin: 30px 0;
		outline: none;
		padding: 0px 20px;
	}
		.doc-section p {
			line-height: 1.7em;
		}

	#typography blockquote {
		margin-top: 20px; }

	.hidden-code a {
		font-size: 12px;
		color: #999; }
	.hidden-code>div {
		display: none; }


	/* Grid */
	#grid .column,
	#grid .columns {
		background: #ddd;
		height: 25px;
		line-height: 25px;
		margin-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
		color: #555;
		font-size: 12px;
		font-weight: bold;
		-moz-border-radius: 2px;
		 -webkit-border-radius: 2px;
		 border-radius: 2px; }
	#grid .column:hover,
	#grid .columns:hover {
		background: #bbb;
		color: #333; }
	#grid .example-grid { overflow: hidden; }

	.post-button-note,
	.post-button-note a {
		font-size: 11px;
		color: #999; }

	#examples .four.columns a {
		text-decoration: none;
	}
	#examples .four.columns a:hover {
		text-decoration: underline;
	}

	img {
		max-width: 100%;
		height: auto; }

	.gist-meta { display: none !important;}

	ul ul ul li { margin-bottom: 3px; }

	code {
		font-family: Courier;
		background: #eee;
		border-radius: 3px;
		padding: 3px;
	}

	pre {
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 20px;
		word-wrap: break-word;
	}

	footer {
		margin: 20px 0px;
	}

	.home {
		float:left;
		padding-top: 0px;
	}

	.page {
		position:relative;
		z-index:100;
		box-shadow: 0px 0px 5px #ddd;
		background:#fff;
		padding-bottom: 5px;
		min-height: 300px;
	}
	
	.contributor_link {
		width: 100%;
		text-align: center;
		padding: 5px 0px;
		color: #fff;
		background: #ccc;
		border-radius: 5px;
	}
		.contributor_link a, .contributor_link a i {
			color: #fff;
			font-weight: bold;
			text-decoration: none;
		}
			.contributor_link a i {
				font-weight: normal;
			}

		#participating {
			width: 100%;
		}

		#participating li {
			float: left;
			width: 100%;
			padding: 10px 0px 10px 0px;
			margin: 0px;
		}

		#participating li + li {
			border-top: 1px solid #ddd;
		}

		.gravatar {
			float:left;
			border-radius: 3px;
			width: 20px;
			height: 20px;
			margin-right: 5px;
		}
		
		.controls {
			float: right;
		}
			.controls i {
				font-size: 13px;
				color: #ccc;
			}
				.controls i:hover {
					color: #aaa;
					cursor: pointer;
				}
				
				.controls i.approved {
					color: #008100;
					cursor:auto;
				}
				
				.controls i.denied {
					color: #830000;
					cursor:auto;
				}
				
				.controls i.bigger {
					font-size: 15px;
					padding-right: 2px;
					cursor:auto;
					color: #aaa;
				}

		a.btn {
			text-decoration: none;
		}
		
		.add_doc {
			text-align: center;
			float:left;
			border: 3px dashed #aaa;
			border-radius: 5px;
			padding: 20px 30px 0px;
		}
			.add_doc p {
				margin:0px;
				padding:0px;
			}
			.add_doc p i a {
				text-decoration: none;
				color: #aaa;
				line-height: 100px;
				font-size: 100px;
			}

	.doc_container {
		text-align: center;
	}
	
	.document {
		text-align: center;
		float:left;
		border: 3px solid #aaa;
		border-radius: 5px;
		padding: 60px 35px 20px;
		margin-bottom: 5px;
	}
		.document i a {
			text-decoration: none;
			color: #aaa;
			font-size: 100px;
		}
		
	#docs {
		margin-top: 35px;
	}

	#editor {
		display: none;
		z-index: 1;
		background: #fff;
		position:fixed;
		margin-left: -29px;
		margin-top: 130px;
		width: 30px;
		height: auto;
		border: 1px solid #ddd;
	}
		#editor a {
			text-decoration: none;
			display:block;
			padding: 5px;
			text-align: center;
		}
			#editor a:hover {
				background: #eee;
			}
			
			#editor #italic {
				padding-left: 0px;
			}
			
			#editor a i {
				padding-left: 2px;
			}

		#submenu {
			display:none;
			position:fixed;
			margin-left: -30px;
			margin-top: -33px;
			background: #eee;
			padding: 0px;
			height: auto;
			border: 1px solid #ddd;
		}
			#submenu ul {
				margin-bottom: 0px;
				padding-bottom:0px;
			}
				#submenu ul li {
					margin-bottom:0px;
				}
				
			#submenu a {
				padding: 5px 5px;
				margin:0px;
			}
			#submenu a:hover {
				background: #ddd;
			}
			
			.heading a:hover a#heading {
				background: #eee;
			}

		#save {
			position:fixed;
			margin-top: -37px;
			margin-left: 0px;			
			background: #aaa;
		}
			#save a:hover {
				background: #aaa;				
			}
			#save.enabled {
				background: #008200;
			}
				.enabled a:hover {
					background: #064b06 !important;
				}
			
			#editor .icon-save {
				color: #fff;
				height: 18px;
			}

	/* Mobile */
	@media only screen and (max-width: 767px) {
		header h1 { font-size: 34px; line-height: 37px; }
		nav { position: relative; }
		nav ul {display: none;}
		#logo { text-align: left; }
		#examples .four.columns {
			padding-top: 30px;
		}
	}

	/* Mobile Landscape */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		nav ul {
			display: none;
		}
	}

	/* Non 960 */
	@media only screen and (max-width: 959px) {
		#logo {
			font-size: 21px;
			margin-bottom: 15px; }
		nav .button {
			padding: 9px 20px 11px; }
	}

	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		nav {
			width: 124px; }
	}

	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}


	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 959px) and (max-device-width: 1000px) {}

	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}

	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}

	/* Anything smaller than standard 960 on a device */
	@media only screen and (max-width: 959px) and (max-device-width: 1000px) {
	}


