@import url('css/base.css');
@import url('css/skeleton.css');

/* Documentation Styles
================================================== */

body {
	background: #232323;
	-webkit-font-smoothing: antialiased;
	margin-top: 100px;
}

code {
	font-family: Courier;
	background: #eee;
	border-radius: 3px;
	padding: 3px;
}

pre code {
	background: none;
	border-radius: none;
	padding: auto;
}

pre {
	padding: 10px;
	margin-bottom: 20px;
	word-wrap: break-word;
	white-space: pre-wrap; 		
}

#masthead {
	background: #1c1c1c;
	width: 100%;
	height: 60px;
	top: 0px;
	position:fixed;
	z-index: 100;
}
	#masthead nav ul {
		margin-top: -20px;
	}
		#masthead nav ul li a.logo {
			font-family: "Montserrat";
			text-transform: uppercase; 
			font-size: 20px;
			display:block;
			float:left;
			padding: 20px 15px 21px;
			text-decoration: none;
			color: #fff;
		}
	
		#masthead nav ul li a.settings {
			display:block;
			float:left;
			padding: 17px 15px 8px;
			text-decoration: none;
			border-right: 1px solid #232323;
		}
			#masthead nav ul li a:hover {
				background: #3f5f66;
				border-right: 1px solid #1c1c1c;
			}
		#masthead nav ul li .icon-configure {
			color: #eee;
			font-size: 35px;
			line-height: 35px;
		}
	
.document
{
	font-family: "Montserrat";
	background:#1c1c1c;
	color: #fff;
	border-bottom: 3px solid #3f5f66;
	margin-bottom: 20px;
}
	.document header {
		color: #fff;
		font-weight: normal;
		font-size: 16px;
		margin-bottom: -10px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
		.document header a {
			color: #fff;
			text-decoration: none;
		}
	.document menu {
		position:absolute;
		margin-left: -30px;
		margin-top: 20px;
	}
		.document menu ol {
			list-style:none;
		}
			.document menu ol li {
				margin:0px;
				float:left;
			}
				.document menu ol li.send a {
					display:block;
					background: #5a9aa8;
					padding: 10px 8px 8px 13px;
				}
				.document menu ol li.approve a {
					display:block;
					background: #1f7f5c;
					padding: 10px 8px 8px 13px;
				}
	.document .meta {
		color: #636363;
		font-size: 15px;
		border-bottom: 1px solid #282828;
		margin-left: 20px;
		margin-right: 20px;
	}
		.document .meta ul {
			list-style:none;
			margin-top: 15px;
			padding-left: 0px;
		}
			.document .meta ul li {
				margin:0px;
			}
				.document .meta ul li + li {
					margin-top: 5px;
				}
				.document .meta ul li i {
					color: #636363;
					margin-right: 6px;
					font-size: 20px;
				}
	.document .body {
		margin-left: 20px;
		margin-right: 20px;
		border-bottom: 1px solid #282828;
	}
		.document .body p {
			font-size: 13px;
			line-height: 23px;
			margin: 20px 0px;
		}
	.document .attending {
		padding-left: 20px;	
		padding-right: 20px;
		padding-bottom: 10px;
	}	
		.document .attending p {
			font-size: 13px;
			margin: 20px 0px 10px;
		}
		
		.document .attending img {
			margin-right: 5px;
			margin-bottom: 5px;
			height: 39px;
			width: 39px;
		}

.article {
	position:relative;
	font-weight: normal;
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
	min-height: 500px;
}
	.article h1, .article h2, .article h3, .article h4 , .article h5 {
		font-family: "Helvetica Neue", "Helvetica";
		font-weight: normal;
	}

.doc-section, header h1 {
	outline: none;
}

.doc-section p {
	line-height: 23px;
}

#sidebar {
	margin-top: 25px;
	margin-left: -60px;
	position:fixed;
 	background: #1c1c1c;
	padding: 15px 15px 0px;
}
	#sidebar a {
		color: #fff;
		text-decoration: none;
	}
	
	#sidebar h3 {
		font-size: 17px;
		line-height: 20px;
		color: #fff;
		font-family: "Montserrat";
		padding-bottom: 10px;
		border-bottom: 1px solid #282828;
	}

	#sidebar h5 {
		font-size: 17px;
		line-height: 20px;
		color: #fff;
		font-family: "Montserrat";
		padding-top: 10px;
		border-top: 1px solid #282828;
	}
	
	#sidebar #pages {
		margin: 20px 0px;
	}	
		#sidebar #pages li {
			margin-bottom: 5px;
		}
		
		#sidebar #pages li i {
			color: #eee;
		}
		
		#sidebar #pages li a {
			color: #fff;
			padding: 3px;
			display:block;
			font-weight: bold;
			text-decoration: none;
		}
			#sidebar #pages li a:hover {
				display:block;
				background: #3f5f66;
			}
			
		#participating li {
			float: left;
			width: 100%;
			padding: 15px 0px 15px 0px;
			margin: 0px;
			color: #fff;
		}
			#participating li strong {
				color: #fff;
			}
			
			#participating li .grey {
				opacity: 0.25;
			}
			
		#participating li + li {
			border-top: 1px solid #282828;
		}

		#participating .gravatar {
			float:left;
			border-radius: 3px;
			width: 20px;
			height: 20px;
			margin-right: 10px;
		}
		
		.controls {
			float: right;
		}
			.controls i {
				font-size: 13px;
				color: #ccc;
				font-weight:normal;
			}
				.controls i:hover {
					color: #aaa !important;
					cursor: pointer;
				}
				
				.controls i.approved {
					color: #008100;
					cursor:default;
				}
				
				.controls i.denied {
					color: #830000;
					cursor:auto;
				}
				
				.controls i.bigger {
					font-size: 15px;
					padding-right: 2px;
					cursor:auto;
					color: #aaa;
				}

		
.new_doc {
}

[class^="icon-"] {
	color: #fff;
	margin-right: 3px;
	display:inline-block;
	font-family: 'Pictos Custom';
	-webkit-font-smoothing: antialiased;
	vertical-align: middle;
	font-style: normal;
	font-size: 25px;
}

[class^="icon-"]:last-child {
	*margin-left: 0;
}