@import url('css/base.css');
@import url('css/skeleton.css');

/* Documentation Styles
================================================== */

body {
	background: #232323;
	-webkit-font-smoothing: antialiased;
	margin-top: 100px;
}

b {
	font-weight: bold;
}

i {
	font-style: italic;
}

code {
	font-family: Courier;
	background: #eee;
	border-radius: 3px;
	padding: 3px;
}

h1, h2, h3, h4 , h5 {
	font-family: "Helvetica Neue", "Helvetica";
}

mark, .mark {
	background: #f9f69d;
}

pre code {
	background: none;
	border-radius: none;
	padding: auto;
}

pre {
	padding: 10px;
	margin-bottom: 20px;
	word-wrap: break-word;
	white-space: pre-wrap; 		
}

#masthead {
	background: #1c1c1c;
	width: 100%;
	height: 50px;
	top: 0px;
	position:absolute;
	z-index: 100;
}
	#masthead nav ul {
		margin-top: -25px;
	}
		#masthead nav ul li a.logo {
			font-family: "Montserrat";
			text-transform: uppercase; 
			font-size: 20px;
			display:block;
			float:left;
			padding: 20px 15px 16px;
			text-decoration: none;
			color: #fff;
		}
	
		#masthead nav ul li a.settings {
			display:block;
			float:left;
			padding: 17px 15px 3px;
			text-decoration: none;
			border-right: 1px solid #232323;
		}
			#masthead nav ul li a:hover {
				background: #3f5f66;
				border-right: 1px solid #1c1c1c;
			}
		#masthead nav ul li .icon-configure {
			color: #eee;
			font-size: 35px;
			line-height: 35px;
		}
	
.document
{
	font-family: "Montserrat";
	background:#1c1c1c;
	color: #fff;
	border-bottom: 3px solid #3f5f66;
	margin-bottom: 20px;
}
	.document .configure {
		float:right;
		margin: 5px;
		text-align:center;
		width: 30px;
		height: 30px;
	}
		.document .configure i {
			font-size: 20px;
			line-height: 35px;
		}
	
	.document header {
		color: #fff;
		font-weight: normal;
		font-size: 16px;
		margin-bottom: -10px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}
		.document header a {
			color: #fff;
			text-decoration: none;
		}
	.document menu {
		position:absolute;
		margin-left: -30px;
		margin-top: 20px;
	}
		.document menu ol {
			list-style:none;
		}
			.document menu ol li {
				margin:0px;
				float:left;
			}
				.document menu ol li.send a {
					display:block;
					background: #5a9aa8;
					padding: 10px 8px 8px 13px;
				}
				.document menu ol li.approve a {
					display:block;
					background: #1f7f5c;
					padding: 10px 8px 8px 13px;
				}
	.document .meta {
		color: #636363;
		font-size: 15px;
		border-bottom: 1px solid #282828;
		margin-left: 20px;
		margin-right: 20px;
	}
		.document .meta ul {
			list-style:none;
			margin-top: 15px;
			padding-left: 0px;
		}
			.document .meta ul li {
				margin:0px;
			}
				.document .meta ul li + li {
					margin-top: 5px;
				}
				.document .meta ul li i {
					color: #636363;
					margin-right: 6px;
					font-size: 20px;
				}
	.document .body {
		margin-left: 20px;
		margin-right: 20px;
		border-bottom: 1px solid #282828;
	}
		.document .body p {
			font-size: 13px;
			line-height: 23px;
			margin: 20px 0px;
		}
	.document .attending {
		padding-left: 20px;	
		padding-right: 10px;
		padding-bottom: 10px;
	}	
		.document .attending p {
			font-size: 13px;
			margin: 20px 0px 10px;
		}
		
		.document .attending img {
			margin-bottom: 5px;
			height: 39px;
			width: 39px;
		}

.article {
	position:relative;
	font-weight: normal;
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
	min-height: 500px;
}
	.article h1, .article h2, .article h3, .article h4 , .article h5 {
		font-family: "Helvetica Neue", "Helvetica";
		font-weight: normal;
	}

.doc-section, header h1 {
	outline: none;
}

.doc-section p {
	line-height: 23px;
}

#sidebar {
	margin-top: 25px;
	position:absolute;
	left: 0px;
}
	#sidebar nav {
		width: 220px;
		position: absolute;
		background: #1c1c1c;
		padding: 15px 15px 0px;		
	}
	#sidebar a {
		color: #fff;
		text-decoration: none;
	}
	
	#sidebar h4 {
		font-size: 17px;
		line-height: 20px;
		color: #fff;
		font-family: "Montserrat";
		padding-bottom: 10px;
		border-bottom: 1px solid #282828;
	}
		i#add_contributor {
			float:right;
			margin-top: -2px !important;
			margin-right: 0px;
		}
		
		i#add_contributor a {
			line-height: 15px;
			padding: 5px 5px 2px;
			border-radius: 3px;
			text-decoration: none;
			color: #fff;
			font-weight: normal;
			font-size: 13px;
			background: #333;
		}
			i#add_contributor a:hover {
				background: #555;
			}
			
	#sidebar h5 {
		font-size: 17px;
		line-height: 20px;
		color: #fff;
		font-family: "Montserrat";
		padding-top: 10px;
		border-top: 1px solid #282828;
	}
	
	#sidebar #pages {
		margin: 15px 0px;
	}	
		#sidebar #pages li {
			margin-bottom: 5px;
		}
		
		#sidebar #pages li i {
			color: #eee;
		}
		
		#sidebar #pages li a {
			color: #fff;
			padding: 3px 5px;
			display:block;
			font-weight: bold;
			text-decoration: none;
		}
			#sidebar #pages li a:hover {
				display:block;
				background: #3f5f66;
			}
			
			#sidebar #pages li a.selected {
				display:block;
				background: #333;
			}
			
		#participating li {
			float: left;
			width: 100%;
			padding: 15px 0px 15px 0px;
			margin: 0px;
			color: #fff;
		}
			#participating li strong {
				color: #fff;
			}
			
			#participating li .grey {
				opacity: 0.25;
			}
			
		#participating li + li {
			border-top: 1px solid #282828;
		}

		#participating .gravatar {
			float:left;
			border-radius: 3px;
			width: 20px;
			height: 20px;
			margin-right: 10px;
		}
		
		.controls {
			float: right;
		}
			.controls i {
				font-size: 13px;
				color: #ccc;
				font-weight:normal;
			}
				.controls i:hover {
					color: #aaa !important;
					cursor: pointer;
				}
				
				.controls i.approved {
					color: #008100;
					cursor:default;
				}
				
				.controls i.denied {
					color: #830000;
					cursor:auto;
				}
				
				.controls i.bigger {
					font-size: 15px;
					padding-right: 2px;
					cursor:auto;
					color: #aaa;
				}

.annotator-edit, .annotator-delete {
	display:none !important;
}

.annotation {
	font-size: 18px;
}
	.annotation span {
		font-style: italic;
		font-weight: bold;
	}
	
#invite_submit {
	display: none;
	margin-bottom: -10px;
	margin-left: -1px;
}

#invitee {
	background: #333;
	border: 1px solid #222;
	margin-top: 10px;
	width: 207px;
}

#editor {
	display: none;
	z-index: 1;
	background: #1c1c1c;
	position:fixed;
	margin-left: 760px;
	margin-top: 130px;
	width: 35px;
	height: auto;
	border: 1px solid #111;
}
	#editor.create {
		display:block !important;
	}
		
	#editor a, #editor a:visited {
		color: #fff;
		text-decoration: none;
		display:block;
		padding: 5px;
		text-align: center;
	}
		#editor a strong {
			color: #fff;
		}
		
		#editor a:hover {
			background: #3f5f66;
		}
		
		#editor #italic {
			padding-left: 0px;
		}
		
		#editor a i {
			padding-left: 2px;
		}

	#submenu {
		display:none;
		position:fixed;
		margin-left: 40px;
		margin-top: -33px;
		background: #1c1c1c;
		padding: 0px;
		height: auto;
		border: 1px solid #111;
	}
		#submenu ul {
			margin-bottom: 0px;
			padding-bottom:0px;
		}
			#submenu ul li {
				margin-bottom:0px;
			}
			
		#submenu a {
			padding: 5px 5px;
			margin:0px;
		}
		#submenu a:hover {
			background: #3f5f66;
		}
		
		.heading a:hover a#heading {
			background: #3f5f66;
		}

	#save {
		position:fixed;
		margin-top: 90px;
		margin-left: 755px;
		background: #1c1c1c;
		border: 1px solid #111;
	}
		#save a {
			text-decoration: none;
			display:block;
			padding: 7px 6px 3px 12px;
			text-align: center;
			background:#1c1c1c;
		}
			#save a.update {
				padding: 7px 4px 3px 12px;
			}
		#save a:hover {
			background: #3f5f66;				
		}

		#save.enabled {
			background: #3f5f66;
		}
			.enabled a:hover {
				background: #3f5f66 !important;
			}
		
		#editor .icon-save {
			color: #fff;
			height: 18px;
		}

	#new_page {
		position:fixed;
		margin-left: 758px;
		margin-top: 30px;
		background: #1c1c1c;
		border: 1px solid #111;
	}
		#new_page a {
		text-decoration: none;
		display:block;
		padding: 5px;
		text-align: center;
		background:#1c1c1c;
	}
		#new_page a:hover {
			background: #3f5f66;
		}
		
		#new_page a i {
			padding-top: 4px;
			padding-left: 4px;
		}

[class^="icon-"] {
	color: #fff;
	margin-right: 3px;
	display:inline-block;
	font-family: 'Pictos Custom';
	-webkit-font-smoothing: antialiased;
	vertical-align: middle;
	font-style: normal;
	font-size: 25px;
}

[class^="icon-"]:last-child {
	*margin-left: 0;
}

.person {
	float:left;
	margin-right: 11px;
	margin-top: 5px;
	margin-bottom: 5px;
}
	.person .status {
		position:absolute;
		margin-left: -8px;
		margin-top: -8px;
		background: #3f5f66;
		border-radius: 20px;
		width: 22px;
		height: 22px;
		text-align: center;
	}
		.person .status i {
			padding-top: 2px;
			padding-left:1px;
			font-size: 15px;
		}
.hover_controls {
	display:none;
	position: absolute;
	margin-top: 75px;
	margin-left: 33px;
	width: 193px;
	padding: 20px 10px 20px 10px;
	background: #3f5f66;
}
	.hover_controls span {
		float:left;
		margin: 0px 10px;
	}
	
	.hover_controls i {
		padding: 7px 7px 0px 7px;
		font-size: 35px;
		line-height: 38px;
	}
		.hover_controls i:hover {
			background: #fff;
			color:#3f5f66;
			border-radius: 5px;
		}